body{
  font-family: Arial, sans-serif;
  background:#f4f6f8;
  text-align:center;
}

#container{
  width:500px;
  margin:auto;
}

.card{
  background:white;
  margin:15px 0;
  padding:15px;
  border-radius:10px;
  box-shadow:0 4px 10px rgba(0,0,0,0.1);
  text-align:left;
}

#loader{
  margin:20px;
  font-weight:bold;
}
